version: "3.9"

services:
  app:
    container_name: dgm-remapp
    build: .
    image: dgm-remapp:latest
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    restart: unless-stopped
